In [173]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [174]:

# 한글폰트 설정 2
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname='./resources/fonts/NotoSansKR-Regular.otf').get_name()
rc('font',family=font_name)
# 한글폰트 설정 1
plt.rcParams['font.family'] = 'Noto Sans KR'

In [175]:
df_move = pd.read_csv('./data/지역별순이동률2012-2022-연령별.csv')
df_move

       Year         Region AgeGroup  MigrationRate
0      2012  Whole country      어린이       3.465000
1      2012  Whole country      청소년       3.025000
2      2012  Whole country       청년       2.067857
3      2012  Whole country       중년       1.700000
4      2012  Whole country       노인       0.534375
...     ...            ...      ...            ...
33655  2022           Jeju      어린이       0.555000
33656  2022           Jeju      청소년       0.337500
33657  2022           Jeju       청년       0.085714
33658  2022           Jeju       중년      -0.100000
33659  2022           Jeju       노인       0.012500

[33660 rows x 4 columns]

In [176]:
df_move['순이동률']  = df_move['MigrationRate']
df_move.drop(columns='MigrationRate',inplace=True)
df_move

       Year         Region AgeGroup      순이동률
0      2012  Whole country      어린이  3.465000
1      2012  Whole country      청소년  3.025000
2      2012  Whole country       청년  2.067857
3      2012  Whole country       중년  1.700000
4      2012  Whole country       노인  0.534375
...     ...            ...      ...       ...
33655  2022           Jeju      어린이  0.555000
33656  2022           Jeju      청소년  0.337500
33657  2022           Jeju       청년  0.085714
33658  2022           Jeju       중년 -0.100000
33659  2022           Jeju       노인  0.012500

[33660 rows x 4 columns]

In [177]:
df_move2 = pd.read_csv('./data/지역별순이동2-통합2012-2022.csv')
df_move2.head()

,Unnamed: 0,Year,Region,Birth_rate,Death_rate,Divorce_rate,Marriage_rate,Natural_growth_rate,Is_Capital,Is_bigcity,순이동률,전입률,전출률
0,0,2012,Busan,8.60,6.5,2.0,6.7,2.1,False,True,-0.6,13.2,13.7
1,1,2012,Busan,8.81,6.9,2.3,5.7,1.9,False,True,-0.6,13.2,13.7
2,2,2012,Busan,8.77,6.2,2.2,5.4,2.6,False,True,-0.6,13.2,13.7
3,3,2012,Busan,8.25,5.7,2.0,6.1,2.6,False,True,-0.6,13.2,13.7
4,4,2012,Busan,7.75,5.7,2.0,5.9,2.0,False,True,-0.6,13.2,13.7

In [185]:
pd.merge(df_move,df_move2,how='inner',on=['Year','Region','순이동률'])

,Year,Region,AgeGroup,순이동률,Unnamed: 0,Birth_rate,Death_rate,Divorce_rate,Marriage_rate,Natural_growth_rate,Is_Capital,Is_bigcity,전입률,전출률
0,2016,Gyeonggi-do,청소년,1.1,952,9.59,4.6,2.0,5.7,5.0,True,True,15.7,14.6
1,2016,Gyeonggi-do,청소년,1.1,953,9.10,4.9,2.1,5.6,4.2,True,True,15.7,14.6
2,2016,Gyeonggi-do,청소년,1.1,954,9.32,4.7,2.1,5.8,4.6,True,True,15.7,14.6
3,2016,Gyeonggi-do,청소년,1.1,955,8.89,4.3,2.0,5.5,4.6,True,True,15.7,14.6
4,2016,Gyeonggi-do,청소년,1.1,956,8.50,4.2,2.1,5.9,4.3,True,True,15.7,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,2016,Gyeonggi-do,청소년,1.1,959,8.41,4.2,2.2,5.4,4.2,True,True,15.7,14.6
404,2016,Gyeonggi-do,청소년,1.1,960,8.75,4.2,2.2,4.4,4.6,True,True,15.7,14.6
405,2016,Gyeonggi-do,청소년,1.1,961,7.64,4.4,2.1,5.2,3.3,True,True,15.7,14.6
406,2016,Gyeonggi-do,청소년,1.1,962,7.66,4.5,2.4,6.1,3.2,True,True,15.7,14.6
407,2016,Gyeonggi-do,청소년,1.1,963,6.76,4.7,2.2,6.5,2.0,True,True,15.7,14.6

In [179]:
df_demographic = pd.read_csv('./data/한국인구통계2002-2022수정본.csv')
df_demographic

,Year,Region,Birth_rate,Death_rate,Divorce_rate,Marriage_rate,Natural_growth_rate,Is_Capital,Is_bigcity
0,2000,Busan,11.61,5.8,2.5,7.5,5.8,False,True
1,2000,Chungcheongbuk-do,15.06,7.3,1.7,6.6,7.7,False,False
2,2000,Chungcheongnam-do,14.75,9.0,2.0,6.5,5.7,False,False
3,2000,Daegu,14.39,5.3,2.0,7.4,9.1,False,True
4,2000,Daejeon,16.08,4.9,2.4,7.5,11.2,False,True
...,...,...,...,...,...,...,...,...,...
4711,2022,Jeollanam-do,8.84,9.1,2.0,3.2,-5.4,False,False
4712,2022,Sejong,7.90,3.4,1.4,3.9,4.5,False,False
4713,2022,Seoul,8.84,4.7,1.4,3.4,-0.6,True,True
4714,2022,Ulsan,4.80,4.7,1.7,3.5,0.1,False,True
4715,2022,Whole country,4.50,5.9,1.8,3.5,-1.4,False,False

# 가설 3: 지방의 청년 인구 유출이 자연증가율 마이너스로 연결된다.

In [180]:
# 인구통계데이터 2012년부터 조회
df_demographic2012_2022 = df_demographic[df_demographic['Year'] >=2012]
df_demographic2012_2022

,Year,Region,Birth_rate,Death_rate,Divorce_rate,Marriage_rate,Natural_growth_rate,Is_Capital,Is_bigcity
2448,2012,Busan,8.60,6.5,2.0,6.7,2.1,False,True
2449,2012,Chungcheongbuk-do,10.70,7.3,1.9,6.3,3.4,False,False
2450,2012,Chungcheongnam-do,11.07,6.9,2.1,6.5,4.2,False,False
2451,2012,Daegu,9.13,5.1,1.8,6.7,4.0,False,True
2452,2012,Daejeon,11.09,5.2,2.0,7.0,5.8,False,True
...,...,...,...,...,...,...,...,...,...
4711,2022,Jeollanam-do,8.84,9.1,2.0,3.2,-5.4,False,False
4712,2022,Sejong,7.90,3.4,1.4,3.9,4.5,False,False
4713,2022,Seoul,8.84,4.7,1.4,3.4,-0.6,True,True
4714,2022,Ulsan,4.80,4.7,1.7,3.5,0.1,False,True
4715,2022,Whole country,4.50,5.9,1.8,3.5,-1.4,False,False

In [181]:
# 병합
df = pd.merge(df_move, df_demographic2012_2022, how='outer', on=['Region'])
df

,Year_x,Region,AgeGroup,순이동률,Year_y,Birth_rate,Death_rate,Divorce_rate,Marriage_rate,Natural_growth_rate,Is_Capital,Is_bigcity
0,2012.0,Busan,어린이,3.465000,2012.0,8.60,6.5,2.0,6.7,2.1,False,True
1,2012.0,Busan,어린이,3.465000,2012.0,8.81,6.9,2.3,5.7,1.9,False,True
2,2012.0,Busan,어린이,3.465000,2012.0,8.77,6.2,2.2,5.4,2.6,False,True
3,2012.0,Busan,어린이,3.465000,2012.0,8.25,5.7,2.0,6.1,2.6,False,True
4,2012.0,Busan,어린이,3.465000,2012.0,7.75,5.7,2.0,5.9,2.0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
4007531,2022.0,NaN,어린이,0.555000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007532,2022.0,NaN,청소년,0.337500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007533,2022.0,NaN,청년,0.085714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007534,2022.0,NaN,중년,-0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007535,2022.0,NaN,노인,0.012500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
yuth = df[(df['AgeGroup'] == '청소년' )]

In [183]:
# 지방 청년의 인구유출과 자연증가율의 관계

sns.lineplot(data=yuth,x='Year',y='MigrationRate')



plt.title('지방 청년의 순이동률과 자연증가율의 관계', fontsize=14)
plt.xlabel('순이동률 (%)', fontsize=12)
plt.ylabel('자연증가율 (%)', fontsize=12)
plt.tight_layout()
plt.show()

ValueError: Could not interpret value `Year` for `x`. An entry with this name does not appear in `data`.