In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/인구순이동률2012-2022-연령별.csv')

In [3]:
df_raw = df.copy()
df

,시점,0 - 4세,0 - 4세.1,0 - 4세.2,0 - 4세.3,0 - 4세.4,0 - 4세.5,0 - 4세.6,0 - 4세.7,0 - 4세.8,...,80세이상.26,80세이상.27,80세이상.28,80세이상.29,80세이상.30,80세이상.31,80세이상.32,80세이상.33,80세이상.34,80세이상.35
0,시점,남자,남자,남자,남자,남자,남자,남자,남자,남자,...,여자,여자,여자,여자,여자,여자,여자,여자,여자,여자
1,시점,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,...,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전북특별자치도,전라남도,경상북도,경상남도,제주특별자치도
2,시점,순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),...,순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%),순이동률 (%)
3,2012,0.0,-3.5,-0.2,0.7,2.3,1.0,1.5,1.1,32.1,...,3.0,0.7,0.1,0.4,-0.1,0.0,-1.0,-0.7,-0.1,0.2
4,2013,0.0,-3.5,0.1,0.6,1.4,1.8,0.9,0.5,12.6,...,1.1,0.7,0.1,0.0,0.1,-0.2,-0.7,-0.3,-0.2,0.2
5,2014,0.0,-3.2,-0.1,0.4,0.2,1.0,-0.6,0.9,42.1,...,6.0,0.5,0.0,0.2,0.0,-0.1,-0.9,-0.2,0.0,0.2
6,2015,0.0,-4.0,0.4,0.4,0.5,0.6,-2.7,0.0,40.8,...,8.2,1.1,-0.1,0.0,-0.2,-0.3,-1.0,-0.5,0.1,0.5
7,2016,0.0,-4.4,-0.3,0.7,-0.1,0.4,-0.2,-0.7,14.3,...,4.4,1.2,-0.2,0.1,0.0,-0.3,-1.2,-0.4,-0.2,0.0
8,2017,0.0,-3.7,-1.1,0.5,-0.7,1.5,-1.7,-1.0,15.3,...,5.4,0.9,0.1,0.1,0.1,-0.3,-0.9,-0.3,0.1,0.2
9,2018,0.0,-4.6,-0.6,0.6,-0.9,1.5,-1.1,-1.1,11.0,...,4.1,1.4,-0.2,0.0,0.0,-0.5,-1.2,-0.3,0.0,0.2
10,2019,0.0,-3.1,-0.5,0.2,-1.1,1.8,-1.6,-0.6,7.7,...,3.9,1.1,-0.1,0.1,-0.1,-0.3,-1.0,-0.1,0.0,-0.1
11,2020,0.0,-3.1,0.5,0.2,-1.7,1.6,-0.9,-1.3,2.5,...,3.0,1.0,0.1,0.1,0.0,-0.1,-0.7,0.0,0.0,0.1
12,2021,0.0,-3.6,0.2,0.2,0.8,2.1,0.3,-1.3,3.3,...,1.7,1.2,0.1,0.1,0.1,-0.2,-0.6,0.0,0.1,0.1
13,2022,0.0,-2.9,0.3,1.4,3.1,1.1,1.6,-0.8,1.9,...,2.0,0.7,0.1,0.2,0.2,0.0,-0.4,-0.2,0.1,0.1

In [ ]:
# import pandas as pd

# # Assuming the data is loaded into a DataFrame with multi-index columns
# # Rows 0, 1, 2 are headers for Gender, Region, Metric
# # Data rows from 3 to 13 contain the years 2012-2022


# # Melt the DataFrame to long format
# df = df.melt(ignore_index=False).reset_index()
# df.columns = ['AgeGroup_Gender_Region', 'Year', 'Value']

# # Split the combined column into individual components
# df[['AgeGroup', 'Gender', 'Region', 'Metric']] = df['AgeGroup_Gender_Region'].apply(lambda x: pd.Series(str(x).split('_')))
# df = df.drop('AgeGroup_Gender_Region', axis=1)

# # Filter relevant years and regions
# df = df[df['Year'].between(2012, 2022)]
# regions = ['전국', '서울특별시', '부산광역시', ..., '제주특별자치도']  # Include all regions
# df = df[df['Region'].isin(regions)]

# # Categorize age groups
# def categorize_age(age_group):
#     if '0 -4' in age_group or '5 -9' in age_group or '10 -14' in age_group:
#         return '어린이'
#     elif '15 -19' in age_group:
#         return '청소년'
#     elif '20 -24' in age_group or '25 -29' in age_group or '30 -34' in age_group:
#         return '청년'
#     elif '35 -39' in age_group or ...:  # Include all middle-aged groups
#         return '중년'
#     elif '80세이상' in age_group:
#         return '노인'
#     return '기타'

# df['연령대'] = df['AgeGroup'].apply(categorize_age)

# # Aggregate values
# result = df.groupby(['Year', 'Region', '연령대'])['Value'].sum().reset_index()
# result.columns = ['Year', 'Region', '연령대', '순이동률']

# print(result)

ValueError: Columns must be same length as key

In [52]:
# 데이터프레임을 기존 데이터로 가정하고 시작합니다. 예: df_raw = pd.read_csv('your_file.csv')
# 예제에서는 df_raw가 이미 DataFrame 형태라고 가정합니다.

# 연령대 정의
age_groups = {
    '어린이': [f'0 - 4세.{i}' for i in range(9)] + [f'5 - 9세.{i}' for i in range(9)] + [f'10 - 14세.{i}' for i in range(5)],
    '청소년': [f'10 - 14세.{i}' for i in range(5,9)] + [f'15 - 19세.{i}' for i in range(5)],
    '청년': [f'15 - 19세.{i}' for i in range(5,9)] + [f'20 - 24세.{i}' for i in range(9)] +
            [f'25 - 29세.{i}' for i in range(9)] + [f'30 - 34세.{i}' for i in range(9)],
    '중년': [f'35 - 39세.{i}' for i in range(9)] + [f'40 - 44세.{i}' for i in range(9)] +
            [f'45 - 49세.{i}' for i in range(9)] + [f'50 - 54세.{i}' for i in range(9)] +
            [f'55 - 59세.{i}' for i in range(9)] + [f'60 - 64세.{i}' for i in range(9)],
    '노인': [f'65 - 69세.{i}' for i in range(9)] + [f'70 - 74세.{i}' for i in range(9)] +
            [f'75 - 79세.{i}' for i in range(9)] + [f'80세이상.{i}' for i in range(9)]
}

# 원본에서 필요한 데이터만 추출 (2012~2022, index 3~13), '전국'부터 '제주특별자치도'까지
years = list(range(2012, 2023))
regions = ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시',
           '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원특별자치도',
           '충청북도', '충청남도', '전북특별자치도', '전라남도', '경상북도', '경상남도', '제주특별자치도']

# 필요한 컬럼 인덱스를 파악
region_row = df_raw.iloc[1]
columns_needed = [i for i, val in enumerate(region_row) if val in regions]

# 결과 저장 리스트
records = []

for idx, year in enumerate(years):
    row_index = idx + 3  # 연도 데이터는 4번째 행부터 시작
    for col_idx in columns_needed:
        region = df_raw.iloc[1, col_idx]  # 지역명 가져오기

        for group, colnames in age_groups.items():
            group_cols = [col for col in colnames if col in df_raw.columns]

            # 💡 값 가져와서 숫자로 변환
            migration_rates = []
            for col in group_cols:
                value = df_raw.loc[row_index, col]
                try:
                    value = float(value)
                    migration_rates.append(value)
                except (ValueError, TypeError):
                    continue  # 변환 안 되면 건너뜀

            # 평균 계산
            if migration_rates:
                mean_migration = sum(migration_rates) / len(migration_rates)
                records.append({
                    'Year': year,
                    'Region': region,
                    'AgeGroup': group,
                    'MigrationRate': mean_migration
                })

# 최종 DataFrame 생성
df_result = pd.DataFrame(records)

# 예시 출력
print(df_result.head())

   Year Region AgeGroup  MigrationRate
0  2012     전국      어린이       3.465000
1  2012     전국      청소년       3.025000
2  2012     전국       청년       2.067857
3  2012     전국       중년       1.700000
4  2012     전국       노인       0.534375

In [53]:
df_result

       Year   Region AgeGroup  MigrationRate
0      2012       전국      어린이       3.465000
1      2012       전국      청소년       3.025000
2      2012       전국       청년       2.067857
3      2012       전국       중년       1.700000
4      2012       전국       노인       0.534375
...     ...      ...      ...            ...
33655  2022  제주특별자치도      어린이       0.555000
33656  2022  제주특별자치도      청소년       0.337500
33657  2022  제주특별자치도       청년       0.085714
33658  2022  제주특별자치도       중년      -0.100000
33659  2022  제주특별자치도       노인       0.012500

[33660 rows x 4 columns]

In [55]:
# 지역 이름을 영어로 변환
region_map = {
    "전국" : "Whole country",
    "서울특별시": "Seoul",
    "부산광역시": "Busan",
    "대구광역시": "Daegu",
    "인천광역시": "Incheon",
    "광주광역시": "Gwangju",
    "대전광역시": "Daejeon",
    "울산광역시": "Ulsan",
    "세종특별자치시": "Sejong",
    "경기도": "Gyeonggi-do",
    "강원특별자치도": "Gangwon-do",
    "충청북도": "Chungcheongbuk-do",
    "충청남도": "Chungcheongnam-do",
    "전라북도": "Jeollabuk-do",
    "전라남도": "Jeollanam-do",
    "경상북도": "Gyeongsangbuk-do",
    "경상남도": "Gyeongsangnam-do",
    "제주특별자치도": "Jeju"
}

df_result["Region"] = df_result["Region"].map(region_map)



# 결과 출력
display(df_result.head(50))

# 저장
df_result.to_csv('./data/지역별순이동률2012-2022-연령별.csv',encoding='utf-8',index=False)

    Year Region AgeGroup  MigrationRate
0   2012    NaN      어린이       3.465000
1   2012    NaN      청소년       3.025000
2   2012    NaN       청년       2.067857
3   2012    NaN       중년       1.700000
4   2012    NaN       노인       0.534375
5   2012    NaN      어린이       3.465000
6   2012    NaN      청소년       3.025000
7   2012    NaN       청년       2.067857
8   2012    NaN       중년       1.700000
9   2012    NaN       노인       0.534375
10  2012    NaN      어린이       3.465000
11  2012    NaN      청소년       3.025000
12  2012    NaN       청년       2.067857
13  2012    NaN       중년       1.700000
14  2012    NaN       노인       0.534375
15  2012    NaN      어린이       3.465000
16  2012    NaN      청소년       3.025000
17  2012    NaN       청년       2.067857
18  2012    NaN       중년       1.700000
19  2012    NaN       노인       0.534375
20  2012    NaN      어린이       3.465000
21  2012    NaN      청소년       3.025000
22  2012    NaN       청년       2.067857
23  2012    NaN       중년       1.700000
24  2012    NaN       노인       0.534375
25  2012    NaN      어린이       3.465000
26  2012    NaN      청소년       3.025000
27  2012    NaN       청년       2.067857
28  2012    NaN       중년       1.700000
29  2012    NaN       노인       0.534375
30  2012    NaN      어린이       3.465000
31  2012    NaN      청소년       3.025000
32  2012    NaN       청년       2.067857
33  2012    NaN       중년       1.700000
34  2012    NaN       노인       0.534375
35  2012    NaN      어린이       3.465000
36  2012    NaN      청소년       3.025000
37  2012    NaN       청년       2.067857
38  2012    NaN       중년       1.700000
39  2012    NaN       노인       0.534375
40  2012    NaN      어린이       3.465000
41  2012    NaN      청소년       3.025000
42  2012    NaN       청년       2.067857
43  2012    NaN       중년       1.700000
44  2012    NaN       노인       0.534375
45  2012    NaN      어린이       3.465000
46  2012    NaN      청소년       3.025000
47  2012    NaN       청년       2.067857
48  2012    NaN       중년       1.700000
49  2012    NaN       노인       0.534375