In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/인구전입률2012-2022.csv')

In [3]:
df

,시점,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전북특별자치도,전라남도,경상북도,경상남도,제주특별자치도
0,시점,총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%),총전입률(%)
1,2022,12.0,12.8,11.6,11.2,13.4,12.8,13.8,9.7,17.4,12.2,12.7,11.7,12.3,11.3,10.5,10.1,9.8,12.9
2,2021,14.1,15.0,13.2,12.8,14.8,14.8,14.6,11.6,21.2,15.2,14.2,13.5,13.4,12.5,12.2,12.1,11.3,14.2
3,2020,15.1,16.6,14.6,14.4,15.2,15.7,15.9,12.0,22.7,16.3,14.6,14.5,13.6,13.8,12.9,12.1,12.1,14.7
4,2019,13.8,14.9,12.1,12.9,14.3,15.0,14.4,12.4,25.3,14.9,14.2,13.3,12.3,12.6,12.0,11.5,11.8,14.3
5,2018,14.2,14.9,12.2,13.1,14.8,15.1,14.3,11.1,29.2,15.9,14.1,13.8,13.9,13.3,12.0,11.6,11.6,15.9
6,2017,14.0,15.1,12.7,13.1,14.0,14.3,14.1,11.6,31.5,14.9,13.8,12.5,13.8,12.6,12.1,11.6,12.3,16.3
7,2016,14.4,15.4,13.2,13.3,15.2,14.6,14.6,12.7,28.8,15.7,14.5,12.9,13.8,13.4,12.4,11.8,12.3,17.0
8,2015,15.2,16.0,14.6,14.2,16.4,15.3,14.6,14.6,46.0,16.2,14.8,13.7,14.1,14.1,13.2,12.8,13.6,16.0
9,2014,15.0,15.8,13.9,14.1,15.8,16.6,15.7,15.2,40.9,15.5,14.9,13.8,14.2,14.7,13.7,12.6,13.9,15.5
10,2013,14.7,15.2,13.7,14.2,16.3,15.5,15.2,13.9,20.4,15.7,14.3,13.9,13.9,13.9,12.9,12.3,12.9,15.2
11,2012,14.9,15.5,13.2,14.0,16.8,15.7,15.9,14.2,58.4,16.3,14.8,13.7,14.0,14.6,12.6,12.5,12.6,13.8

In [4]:
# 기존 열 이름 리스트 (시점 제외)
columns = ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원특별자치도', '충청북도', '충청남도', '전북특별자치도', '전라남도', '경상북도', '경상남도', '제주특별자치도']

# '순이동률(%)'에서 % 제거하고 '순이동률'만 붙이기
new_columns = [f"{col}" for col in columns]

# 데이터프레임 열 이름 변경 (예: df가 원본 데이터프레임)
df.columns = ['Year'] + new_columns

In [5]:
df = df.drop(index=0).reset_index(drop=True)  # 첫 번째(0번) 행 제거 후 인덱스 재정렬
df

,Year,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전북특별자치도,전라남도,경상북도,경상남도,제주특별자치도
0,2022,12.0,12.8,11.6,11.2,13.4,12.8,13.8,9.7,17.4,12.2,12.7,11.7,12.3,11.3,10.5,10.1,9.8,12.9
1,2021,14.1,15.0,13.2,12.8,14.8,14.8,14.6,11.6,21.2,15.2,14.2,13.5,13.4,12.5,12.2,12.1,11.3,14.2
2,2020,15.1,16.6,14.6,14.4,15.2,15.7,15.9,12.0,22.7,16.3,14.6,14.5,13.6,13.8,12.9,12.1,12.1,14.7
3,2019,13.8,14.9,12.1,12.9,14.3,15.0,14.4,12.4,25.3,14.9,14.2,13.3,12.3,12.6,12.0,11.5,11.8,14.3
4,2018,14.2,14.9,12.2,13.1,14.8,15.1,14.3,11.1,29.2,15.9,14.1,13.8,13.9,13.3,12.0,11.6,11.6,15.9
5,2017,14.0,15.1,12.7,13.1,14.0,14.3,14.1,11.6,31.5,14.9,13.8,12.5,13.8,12.6,12.1,11.6,12.3,16.3
6,2016,14.4,15.4,13.2,13.3,15.2,14.6,14.6,12.7,28.8,15.7,14.5,12.9,13.8,13.4,12.4,11.8,12.3,17.0
7,2015,15.2,16.0,14.6,14.2,16.4,15.3,14.6,14.6,46.0,16.2,14.8,13.7,14.1,14.1,13.2,12.8,13.6,16.0
8,2014,15.0,15.8,13.9,14.1,15.8,16.6,15.7,15.2,40.9,15.5,14.9,13.8,14.2,14.7,13.7,12.6,13.9,15.5
9,2013,14.7,15.2,13.7,14.2,16.3,15.5,15.2,13.9,20.4,15.7,14.3,13.9,13.9,13.9,12.9,12.3,12.9,15.2
10,2012,14.9,15.5,13.2,14.0,16.8,15.7,15.9,14.2,58.4,16.3,14.8,13.7,14.0,14.6,12.6,12.5,12.6,13.8

In [6]:
df_long = df.melt(id_vars='Year', var_name='지역', value_name='전입률')

# 컬럼명 변경
df_long = df_long.rename(columns={'Year': '년도'})

# 연도, 지역, 순이동률 순서로 정렬
df_long = df_long[['년도', '지역', '전입률']]

# 연도, 지역 기준 정렬
df_long = df_long.sort_values(['년도', '지역']).reset_index(drop=True)


df_long = df_long.rename(columns={'년도': 'Year'})
df_long = df_long.rename(columns={'지역': 'Region'})


display(df_long)

     Year   Region   전입률
0    2012  강원특별자치도  14.8
1    2012      경기도  16.3
2    2012     경상남도  12.6
3    2012     경상북도  12.5
4    2012    광주광역시  15.7
..    ...      ...   ...
193  2022     전라남도  10.5
194  2022  전북특별자치도  11.3
195  2022  제주특별자치도  12.9
196  2022     충청남도  12.3
197  2022     충청북도  11.7

[198 rows x 3 columns]

In [7]:
# 지역 이름을 영어로 변환
region_map = {
    "전국" : "Whole country",
    "서울특별시": "Seoul",
    "부산광역시": "Busan",
    "대구광역시": "Daegu",
    "인천광역시": "Incheon",
    "광주광역시": "Gwangju",
    "대전광역시": "Daejeon",
    "울산광역시": "Ulsan",
    "세종특별자치시": "Sejong",
    "경기도": "Gyeonggi-do",
    "강원특별자치도": "Gangwon-do",
    "충청북도": "Chungcheongbuk-do",
    "충청남도": "Chungcheongnam-do",
    "전라북도": "Jeollabuk-do",
    "전라남도": "Jeollanam-do",
    "경상북도": "Gyeongsangbuk-do",
    "경상남도": "Gyeongsangnam-do",
    "제주특별자치도": "Jeju"
}

df_long["Region"] = df_long["Region"].map(region_map)



# 결과 출력
display(df_long.head(50))

# 저장
df_long.to_csv('./data/지역별전입률2012-2022.csv',encoding='utf-8',index=False)

    Year             Region   전입률
0   2012         Gangwon-do  14.8
1   2012        Gyeonggi-do  16.3
2   2012   Gyeongsangnam-do  12.6
3   2012   Gyeongsangbuk-do  12.5
4   2012            Gwangju  15.7
5   2012              Daegu  14.0
6   2012            Daejeon  15.9
7   2012              Busan  13.2
8   2012              Seoul  15.5
9   2012             Sejong  58.4
10  2012              Ulsan  14.2
11  2012            Incheon  16.8
12  2012      Whole country  14.9
13  2012       Jeollanam-do  12.6
14  2012                NaN  14.6
15  2012               Jeju  13.8
16  2012  Chungcheongnam-do  14.0
17  2012  Chungcheongbuk-do  13.7
18  2013         Gangwon-do  14.3
19  2013        Gyeonggi-do  15.7
20  2013   Gyeongsangnam-do  12.9
21  2013   Gyeongsangbuk-do  12.3
22  2013            Gwangju  15.5
23  2013              Daegu  14.2
24  2013            Daejeon  15.2
25  2013              Busan  13.7
26  2013              Seoul  15.2
27  2013             Sejong  20.4
28  2013              Ulsan  13.9
29  2013            Incheon  16.3
30  2013      Whole country  14.7
31  2013       Jeollanam-do  12.9
32  2013                NaN  13.9
33  2013               Jeju  15.2
34  2013  Chungcheongnam-do  13.9
35  2013  Chungcheongbuk-do  13.9
36  2014         Gangwon-do  14.9
37  2014        Gyeonggi-do  15.5
38  2014   Gyeongsangnam-do  13.9
39  2014   Gyeongsangbuk-do  12.6
40  2014            Gwangju  16.6
41  2014              Daegu  14.1
42  2014            Daejeon  15.7
43  2014              Busan  13.9
44  2014              Seoul  15.8
45  2014             Sejong  40.9
46  2014              Ulsan  15.2
47  2014            Incheon  15.8
48  2014      Whole country  15.0
49  2014       Jeollanam-do  13.7